* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f3f0ff;
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.container {
    max-width: 1000px;
    text-align: center;
    padding: 100px;
    position: relative;
    top: -120px;
}

h1 {
    font-size: 2.5rem;
    color: #333;
    position: relative;
    top: 10px;
    margin-bottom: 40px;
    text-align: center;
}

h1 span {
    color: #6366f1;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    align-items: center;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


.item-1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    height: 120px;
    width: 220px;
}

.item-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: 120px;
    width: 85%;
    position: relative;
    top: 90px;
}

.item-3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    width: 200%;
    height: 200px;
    position: relative;
    top: 40px;
    left: -50px;
}

.item-4 {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    width: 150%;
    height: 100px;
    position: relative;
    top: 36px;
}

.item-5 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.item-6 {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    height: 230px;
    width: 100%;
    position: relative;
    top: 20px;
}

.item-7 {
    grid-column: 4 / 5;
    grid-row: 3 / 5;
    height: 250px;
    width: 150%;
    position: relative;
    top: -30px;
}

.item-8 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    height: 200px;
    width: 300px;
    position: relative;
    top: -5px;
    left: -70px;
}

.item-9 {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    height: 200px;
    width: 154%;
    position: relative;
    top: -5px;
    left: -65px;
}

@media (max-width: 768px) {
    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .item {
        grid-column: span 1 !important;
        grid-row: span 1 !important;
    }
}